*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Patrick Hand SC', cursive;
font-family: 'Rubik', sans-serif;
    background: var(--primary-color);
    min-height: 100vh;
    transition:all 0.5s ease;
}

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::selection{
  background: rgb(0,123,255,0.3);
  }
  .content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
  }
  .navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
  }
  .navbar.sticky{
  background: var(--footer2);
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  }
  .navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .navbar .logo a{
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  }
  .navbar .menu-list{
  display: inline-flex;
  }
  .menu-list li{
  list-style: none;
  }
  .menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
  }
  .menu-list li a:hover{
  color: var(--swap);
  }
  
  .about{
  padding: 30px 0;
  }
  .about .title{
  font-size: 38px;
  font-weight: 700;
  }
  .about p{
  padding-top: 20px;
  text-align: justify;
  }
  .icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
  }
  .menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
  }
  @media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
  }
  @media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
  }
  @media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
  }
  @media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background:var(--footer);
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
  }
  @media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
  }
  
  .darkmodeimg{
    padding:5px 25px;
  }
  
  
    button{
      font-family: 'Patrick Hand SC', cursive;
    font-family: 'Rubik', sans-serif;
      padding:5px 25px;
      background-color: var(--swap);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      color: white;
      transition: all 0.3s ease;
    }
    
    button:hover{
      font-family: 'Patrick Hand SC', cursive;
    font-family: 'Rubik', sans-serif;
      background-color: white;
      color: var(--swap);
    }
  
  #icon{
    width: 20px;
    cursor: pointer;
  }

:root{
    --tab:#E4E6EB;
    --primary-color:#537B2F;
    --secondary-color:0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    --tertiary-color:#303030;
    --swap:rgba(164,222,2,1);
    --shadow2:0 30px 30px rgba(0,0,0,0.5);
    --footer:#2D5128;
    --footer2:#142C14;
    --bw:black;
    --wb:white;
    --bg:black;
  }
  
  .dark-theme{
    --primary-color:#18191A;
    --secondary-color:0 1.5rem 3rem -0.75rem hsla(0, 100%, 100%, 0.25);
    --tertiary-color:white;
    --swap:rgba(164,222,2,1);
    --shadow2:0 15px 15px rgba(255, 255, 255, 0.5);
    --tab:#242526;
    --footer:#141414;
    --footer2:black;
    --bw:white;
    --wb:black;
    --bg:var(--primary-color);
  }

.sectionfaq{
    min-height: 100vh;
    width: 80%;
    margin: 100px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size:3rem;
    margin: 2rem 0rem;
    color:var(--bw);
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--bw);
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--bw);
}

.question h3{
    font-size: 1.8rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    color:var(--bw);
}

.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq.active .answer{
    max-height: 600px;
    animation: fade 1s ease-in-out;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

footer{
    text-align:center;
    background-color:var(--footer2);
    color:white;
    padding: 2%;
  }
  
  .footer{
  text-align:center;
    background-color:var(--footer);
    color:white;
    padding: 2%;
  }